.editor {
  width: 640px;
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height:100%;
  align-items: flex-start;
}
.fileTextArea{
  width: 100%;
  height: 100%;
  border: none;
  outline: 0;
  resize: none;
}
.fileInfoHeader{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterButton{
  cursor: pointer;
  border: none;
  background-color: #1F52F1;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.filterButton:hover{
  background-color: #142f82;
  transition: background-color 0.2s ease;
}